@charset "UTF-8";
html {
  font-size: 100%;
}
body{
  font-family: 'Philosopher', serif;
  color: #432;
  background: rgba(252, 227, 227, 0.201);
}
.title{
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
a {
  text-decoration: none;
}
.headerImg{
  position: relative;
}
.headerImg h1{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-size: 80px;
}
.headerImg img{
  width: 100%;
}
.main-nav{
  display: flex;
  width: 90%;
  text-align: center;
  list-style: none;
  justify-content: space-around;
  font-size: 30px;
}
.point{
  cursor: pointer;
}
.main-nav img{
  vertical-align: middle;
  margin-right: 20px;
}
#about{
  display: flex;
  justify-content: space-around;
}
#about .profile{
  width: 700px;
  border-radius: 5%;
}
#about .picture{
  width: 280px;
  height: 380px;
  border-radius: 50%;
  margin-top: 50px;
}
.profile_details{
  position: relative;
}
.profile_details p{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-size: 20px;
}
#skill >.container{
  display: grid;
  grid-template-columns: repeat(3,200px);
  grid-template-rows: repeat(2,250px);
  gap: 20px ;
  justify-content: center;
  align-content: center;
}
.container >.box{
  background: white;
  border-radius: 10%;
  text-align: center;
  line-height: 200px;
}
/* #deliverable{
} */
sakuhinn{
  display: flex;
  justify-content: space-around;
}
/* #contact{

} */
#contact > .wrapper{
  text-align: center;
}

/* CONTACT
------------------------------- */
#contact {
  background-image: url(../img/NS6012_otoomenosusume_TP_V.jpg);
  background-color: rgba(247, 224, 224, 0.886);
  background-blend-mode: soft-light;
  min-height: 100vh;
}

/* フォーム */
form div {
  margin-bottom: 14px;
}
label {
  font-size: 1.125rem;
  margin-bottom: 10px;
  display: block;
}
input[type="text"],
input[type="email"],
textarea {
  background: rgba(255,255,255,.5);
  border: 1px rgba(238, 226, 211, 0.468) solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  max-width: 240px;
}
textarea {
  width: 100%;
  max-width: 480px;
  height: 6rem;
}
input[type="submit"] {
  border: none;
  cursor: pointer;
  line-height: 1;
}
footer{
  padding: 64px 0;
  background: lavenderblush;
  text-align: center;
}